body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
}

.profile-title, .box-header {
    font-weight: bold;
}

label[for=name], label[for=dob], label[for=email], label[for=title], label[for=team], label[for=position], label[for=number] {
    font-weight: bold;
}

.left-container {
  height: 50vh;
}

.left-container, .right-container {
    flex: 1 0 calc(50% - 20px); /* Half of the page minus margin */
    box-sizing: border-box;
}

.results-box, .fixtures-box {
  height: 100%;
}

.profile-box, .fixtures-box, .results-box, .training-schedule-box {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.profile-box {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-box .delete-account-div p{
    color: blue; 
    text-decoration: underline;
}

.profile-box .delete-account-div p:hover{
    cursor: pointer; 
}

.profile-box .delete-account-div {
    display: flex; 
    justify-content: space-between; 
}

.profile-box .profile-title p{
    font-size: 3rem; 
    margin: 0px; 
}

.training-schedule-box {
  width: 100%;
  height: 40vh;
}

.top-container, .bottom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.top-container .left-container, .top-container .right-container {
    flex: 1 0 calc(50% - 10px); /* Half of the top container minus margin */
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.main-profile-content {
    display: flex; 
}

.main-profile-content .profile-content {
    width: 50%; 
}

.main-profile-content .team-logo-main {
    width: 50%;
}

.main-profile-content .team-logo-main .team-logo-img {
    background-image: url('../team-logos/Teambu.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%; 
    height: 100%; 
}