body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }


h1 {
  text-align: center;
  margin-top: 30px;
}

.fixture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixture-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the box horizontally */
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 40%;
}

.match-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  grid-column: 2 / span 1;
}

.datetime {
  font-size: 16px;
  margin-top: 10px;
  grid-column: 2 / span 1;
}

.team-circles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.team-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 5px;
}

.team-name {
  font-weight: bold;
  font-size: 14px;
}

.team-name p {
  margin: 0px; 
  font-weight: bold;
  font-size: 14px; 
}

#f1-tl1,
#f2-tl2,
#f3-tl1,
#r1-tl2,
#r2-tl1,
#r3-tl2 {
  background-image: url("../team-logos/Teambu.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}

#f1-tl2 {
  background-image: url("../team-logos/Bath.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

#f2-tl1,
#r1-tl1 {
  background-image: url("../team-logos/Exeter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

#f3-tl2 {
  background-image: url("../team-logos/Bristol.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

#r2-tl2 {
  background-image: url('../team-logos/Southampton.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

#r3-tl1 {
  background-image: url('../team-logos/Portsmouth.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

/* Results page */
.team-scores {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  margin-top: 10px;
}

.team-score {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 16px;
  background-color: #eee;
  border-radius: 5px;
}

.return-button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 2rem; 
}

.return-button button {
  padding: 1rem 2rem; 
  border-radius: 0.5rem; 
}

.return-button button:hover {
  cursor: pointer; 
  background-color:rgba(0, 0, 0, 0.1); 
}