<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css"> 
    <title>Elite Sport Management</title>
</head>

<body>
    <div class="login-container">
        
        <form id="loginForm" class="login-form" autocomplete="off">
           
            <h2>Login</h2>
            <div class="input-group">
                <p id="incorrect-username" hidden>Incorrect Username!</p>
                <label for="loginUsername">Username:</label>
                <input type="text" id="loginUsername" name="username" required>
            </div>  

            <div class="input-group">
                <p id="incorrect-password" hidden>Incorrect Password!</p>
                <label for="loginPassword">Password:</label>
                <input type="password" id="loginPassword" name="password" required>
            </div>
    
            <button type="button" id="loginFormButton">Login</button>
        </form>
    
        <p>Don't have an account? <a href="/html-pages/signup.html" id="signup-link">Create an account</a></p>
    </div>
   

    <!--SCRIPTS-->
    <script type="module" src="/static/js/login.js"></script>

</body>
