<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Sport Management</title>
</head>

<body>
    <form id="loginForm" autocomplete="off">
        <label for="loginUsername">Username:</label>
        <input type="text" id="loginUsername" name="username" required>

        <label for="loginPassword">Password:</label>
        <input type="password" id="loginPassword" name="password" required>

        <button type="button" id="loginFormButton">Login</button>
    </form>

    <p>Don't have an account? <a href="/html-pages/signup.html">Create an account</a></p>

    <!--SCRIPTS-->
    <script type="module" src="/static/js/login.js"></script>

</body>
