<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/fixturelist.css" rel="stylesheet" type="text/css"> 
    <title>Elite Sport Management</title>
</head>
<body>

  <h1>Results</h1>

  <div class="fixture-container">
    <!-- First Fixture Box -->
    <div class="fixture-box">
      <div class="team-circle">
        <div class="team-logo"></div>
        <div class="team-name">Team 1</div>
      </div>
      <div>
        <div class="match-name">Match Name</div>
        <div class="datetime">
          <span>Date</span><br>
          <span>Time</span>
        </div>
        <!-- Move the team-scores inside the datetime div -->
        <div class="team-scores">
          <div class="team-score">3</div>
          <div class="team-score">2</div>
        </div>
      </div>
      <div class="team-circle">
        <div class="team-logo"></div>
        <div class="team-name">Team 2</div>
      </div>
    </div>

    <!-- Second Fixture Box -->
    <div class="fixture-box">
      <div class="team-circle">
        <div class="team-logo"></div>
        <div class="team-name">Team 3</div>
      </div>
      <div>
        <div class="match-name">Match Name 2</div>
        <div class="datetime">
          <span>Date 2</span><br>
          <span>Time 2</span>
        </div>
        <!-- Move the team-scores inside the datetime div -->
        <div class="team-scores">
          <div class="team-score">1</div>
          <div class="team-score">0</div>
        </div>
      </div>
      <div class="team-circle">
        <div class="team-logo"></div>
        <div class="team-name">Team 4</div>
      </div>
    </div>

    <!-- Third Fixture Box -->
    <div class="fixture-box">
      <div class="team-circle">
        <div class="team-logo"></div>
        <div class="team-name">Team 5</div>
      </div>
      <div>
        <div class="match-name">Match Name 3</div>
        <div class="datetime">
          <span>Date 3</span><br>
          <span>Time 3</span>
        </div>
        <!-- Move the team-scores inside the datetime div -->
        <div class="team-scores">
          <div class="team-score">2</div>
          <div class="team-score">2</div>
        </div>
      </div>
      <div class="team-circle">
        <div class="team-logo"></div>
        <div class="team-name">Team 6</div>
      </div>
    </div>
  </div>

  <div class="return-button">
    <button id="return-to-dashboard">Return to dashboard</button>
  </div>
  
  <script src="../static/js/resultslist.js"></script>
</body>
</html>

