<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/fixturelist.css" rel="stylesheet" type="text/css"> 
    <title>Elite Sport Management</title>
</head>
<body>

  <h1>Results</h1>

  <div class="fixture-container">
    <!-- First Fixture Box -->
    <div class="fixture-box">
      <div class="team-circle">
        <div id="r1-tl1" class="team-logo"></div>
        <div class="team-name"><p id="r1-tn1">Team 1</p></div>
      </div>
      <div>
        <div id="r1-mn" class="match-name">Match Name</div>
        <div class="datetime">
          <span id="r1-d">Date</span><br>
          <span id="r1-t">Time</span>
        </div>
        <!-- Move the team-scores inside the datetime div -->
        <div class="team-scores">
          <div id="r1-ts1" class="team-score">3</div>
          <div id="r1-ts2" class="team-score">2</div>
        </div>
      </div>
      <div class="team-circle">
        <div id="r1-tl2" class="team-logo"></div>
        <div class="team-name"><p id="r1-tn2">Team 2</p></div>
      </div>
    </div>

    <!-- Second Fixture Box -->
    <div class="fixture-box">
      <div class="team-circle">
        <div id="r2-tl1" class="team-logo"></div>
        <div class="team-name"><p id="r2-tn1">Team 1</p></div>
      </div>
      <div>
        <div id="r2-mn" class="match-name">Match Name</div>
        <div class="datetime">
          <span id="r2-d">Date</span><br>
          <span id="r2-t">Time</span>
        </div>
        <!-- Move the team-scores inside the datetime div -->
        <div class="team-scores">
          <div id="r2-ts1" class="team-score">3</div>
          <div id="r2-ts2" class="team-score">2</div>
        </div>
      </div>
      <div class="team-circle">
        <div id="r2-tl2" class="team-logo"></div>
        <div class="team-name"><p id="r2-tn2">Team 2</p></div>
      </div>
    </div>

    <!-- Third Fixture Box -->
    <div class="fixture-box">
      <div class="team-circle">
        <div id="r3-tl1" class="team-logo"></div>
        <div class="team-name"><p id="r3-tn1">Team 1</p></div>
      </div>
      <div>
        <div id="r3-mn" class="match-name">Match Name</div>
        <div class="datetime">
          <span id="r3-d">Date</span><br>
          <span id="r3-t">Time</span>
        </div>
        <!-- Move the team-scores inside the datetime div -->
        <div class="team-scores">
          <div id="r3-ts1" class="team-score">3</div>
          <div id="r3-ts2" class="team-score">2</div>
        </div>
      </div>
      <div class="team-circle">
        <div id="r3-tl2" class="team-logo"></div>
        <div class="team-name"><p id="r3-tn2">Team 2</p></div>
      </div>
    </div>

  <div class="return-button">
    <button id="return-to-dashboard">Return to dashboard</button>
  </div>
  
  <script src="../static/js/resultslist.js"></script>
</body>
</html>

