<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/signup.css" rel="stylesheet" type="text/css">
    <title>Sign Up</title>

</head>
<body>

    
    <form action="javascript:void(0);">
        <h2>Register</h2>
    
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
    
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>

        <label for="name">Full Name:</label>
        <input type="text" id="fullName" name="name" required>
    
        <label for="password">Create Password:</label>
        <input type="password" id="password" name="password" required>
    
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    
        <div class="checkbox-group">
            <label for="player">Player</label>
            <input type="radio" id="player" name="userType" value="player">
            
            <label for="admin">Coach</label>
            <input type="radio" id="admin" name="userType" value="admin">
        </div>
    
        <button id="form-submit-button" type="submit">Register</button>
    </form>
    <p id="return-to-login">Already have an account? Log in</p>
</body>
 </html>
    
 <!--SCRIPTS-->
 <script type="module" src="/static/js/signup.js"></script>

</body>
</html>
