<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/updatedetails.css" rel="stylesheet" type="text/css">
    <title>Update Details</title>
</head>

<body>

    
  <form action="javascript:void(0);">
      <h2>Update Details</h2>
  
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
  
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" required>
  
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required>

      <label for="name">Full Name:</label>
      <input type="text" id="fullName" name="name" required>
  
      <label for="password">Update Password:</label>
      <input type="password" id="password" name="password" required>
  
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
  
      <button id="form-submit-button" type="submit">Update</button>
  </form>
  <p id="return-to-dashboard">Cancel Changes</p>
</body>
</html>
  
<!--SCRIPTS-->
<script type="module" src="/static/js/updatedetails.js"></script>

</body>
</html>
