<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/userdashboard.css" rel="stylesheet" type="text/css"> 
    <title>Sports Organization Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="profile-box">
                <div class="profile-title">
                    <p>Profile</p>
                </div>
                <div class="main-profile-content">
                    <div class="profile-content">
                        <div class="profile-photo"></div>
                        <div class="profile-info">
                            <label for="name">Name</label>
                            <p id="user-info-name">John Doe</p>
    
                            <label for="dob">Date of Birth</label>
                            <p id="user-info-dob">MM/DD/YYYY</p>
    
                            <label for="email">Email Address</label>
                            <p id="user-info-email">john.doe@example.com</p>
    
    
                            <label for="title">Title</label>
                            <p>Player</p>
    
                            <label for="team">Team</label>
                            <p>Bournemouth 1sts</p>
    
                            <label for="position">Position</label>
                            <p>Shooting Guard</p>
    
                            <label for="number">Number</label>
                            <p>22</p>
                        </div>
                    </div>
                    <div class="team-logo-main">
                        <div class="team-logo-img">
                        </div>
                    </div>
                </div>
                <div class="delete-account-div">
                    <p id="delete-account-button">Delete Account</p>
                    <p id="update-account-button">Update Details</p>
                    <p id="log-out-button">Log Out</p>
                </div>
            </div>
        </div>

        <div class="right-container">
            <div class="top-container">
                <div class="left-container">
                    <div class="results-box">
                        <div class="box-header">Results</div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2023-01-05</td>
                                    <td>Team X</td>
                                </tr>
                                <tr>
                                    <td>2023-02-05</td>
                                    <td>Team Y</td>
                                </tr>
                                <tr>
                                    <td>2023-03-05</td>
                                    <td>Team Z</td>
                                </tr>
                                <tr>
                                    <td>2023-04-05</td>
                                    <td>Team W</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" id="link-results" class="details-link">See more details</a>
                    </div>
                </div>
                <div class="right-container">
                    <div class="fixtures-box">
                        <div class="box-header">Fixtures</div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="f-r1-d">2023-01-01</td>
                                    <td id="f-r1-t">Team A</td>
                                </tr>
                                <tr>
                                    <td id="f-r2-d">2023-02-01</td>
                                    <td id="f-r2-t">Team B</td>
                                </tr>
                                <tr>
                                    <td id="f-r3-d">2023-03-01</td>
                                    <td id="f-r3-t">Team C</td>
                                </tr>
                                <tr>
                                    <td id="f-r4-d">2023-04-01</td>
                                    <td id="f-r4-t">Team D</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" id="link-fixtures" class="details-link">See more details</a>
                    </div>
                </div>
            </div>

            <div class="bottom-container">
                <div class="training-schedule-box">
                    <div class="box-header">Upcoming Training Schedule</div>
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Coach</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2023-01-05</td>
                                <td>Team X</td>
                                <td>John Lewis</td>
                            </tr>
                            <tr>
                                <td>2023-02-05</td>
                                <td>Team Y</td>
                                <td>John Lewis</td>
                            </tr>
                            <tr>
                                <td>2023-03-05</td>
                                <td>Team Z</td>
                                <td>John Lewis</td>
                            </tr>
                            <tr>
                                <td>2023-04-05</td>
                                <td>Team W</td>
                                <td>John Lewis</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-summary">
                        <!-- Training schedule summary content -->
                    </div>
                    <a href="#" id="training-schedule-link" class="details-link">See more details</a>
                </div>
            </div>
        </div>
    </div>

    <!--SCRIPTS-->
    <script type="module" src="/static/js/userdashboard.js"></script>
</body>
</html>
